#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.count {
  font-size: 96px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.boton {
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin: 5px;
}

.boton:active {
  transform: translateY(5px);
}

.plus {
  border-color: darkgreen;
  background-color: lime;
}

.minus {
  border-color: darkred;
  background-color: palevioletred;
}
